@import url("variables.css");

.communityBanner {
  position: relative;
  width: 70%; /* Make the image fully responsive */
  height: auto; /* Adjust height based on the image */
  display: flex;
  align-items: center;
  overflow: hidden; /* Prevents overflow issues */
}

.communityBannerImage {
  width: 70%; /* Make the image fully responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures proper scaling */
  border-radius: 99px;
}

.communityBannerText {
  background-color: var(--background-main);
  position: absolute;
  bottom: 0;
  width: 70%; /* Adjust as needed */
  height: 90px; /* Adjust height */
  border: 1px solid var(--background-35);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.communityHeaderImage {
  position: absolute;
  border-radius: 999px;
  width: 15%; /* Adjust size as needed */
  border: 1px solid var(--background-35);
  margin-left: 4%;
  margin-top: 17.5%;
}

.communityTitle {
  font-family: var(--primary-font), sans-serif;
  font-size: var(--XL);
  color: var(--primary-main);
  margin-left: 30%;
  margin-top: 6%;
}

.community-header {
  display: flex;
  gap: 52px;
  margin: 16px 0 32px 0;
}

.community-metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0 16px;
  width: 30%;
  background-color: var(--background-main);
  border: 1px solid var(--background-35);
  border-radius: 20px;
}

.community-description {
  color: var(--text-80);
  font-family: var(--tertiary-font), sans-serif;
  font-size: var(--M, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 40px 24px 24px;
  text-align: center;
  text-wrap: auto;
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.stat-name{
  font-family: var(--tertiary-font), sans-serif;
  font-size: var(--XS);
  color: var(--text-60);
  margin: 0;
}

.stat-value{
  font-family: var(--tertiary-font), sans-serif;
  font-size: var(--L);
  color: var(--primary-main);
  margin: 0;
}

.community-stat{
  display: flex;
  align-items: center;
}