@import url("variables.css");

#popup-container{
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 400px;
  height: 500px;
  background-color: var(--background-15);
  border: 1px solid var(--background-25);
}

#main-content{
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 24px;
}

#profile-pic-submission-container{
  display: flex;
  align-items: center;
  margin: 0 24px;
  gap: 24px;
}

.submission-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#current-profile-pic{
  width: 100px;
  height: 100px;
}

#uploading-guidelines{
  color: var(--text-80, #999);
  font-family: var(--tertiary-font, "Hanken Grotesk"), sans-serif;
  font-size: var(--S, 18px);
  font-style: normal;
  font-weight: 400;
}

#submit-profile-pic{
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;

  overflow: hidden;
  color: var(--background-main, #CCC);
  text-overflow: ellipsis;
  font-family: var(--secondary-font, "Golos Text"), sans-serif;
  font-size: var(--S, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#user-bio-edit-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--text-main);
  font-size: var(--M);
}

#user-bio-edit-container > textarea{
  resize: none;
  min-height: 150px;
  border: 1px solid var(--background-25);
  background-color: var(--background-15);
  width: 300px;
  color: var(--text-main);
}

#user-bio-edit-container > label{
  color: var(--text-80, #999);
  font-family: var(--tertiary-font, "Hanken Grotesk"), sans-serif;
  font-size: var(--S, 18px);
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 0 24px;
}

.footer > button{
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  margin: 36px;
  border-radius: 12px;
  background: var(--primary-main, #8C6);

  overflow: hidden;
  color: var(--background-main, #161A1D);
  text-overflow: ellipsis;
  font-family: var(--secondary-font, "Golos Text"), sans-serif;
  font-size: var(--M, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer > button:hover{
  box-shadow: 0 4px 24px 0 var(--primary-70, #689750);
}