@import url('variables.css');

body{
  padding-left: 325px;
  padding-right: 325px;
}

.popup{
    display: flex;

    position: fixed;

    justify-content: center; 
    align-items: center;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  
    background: rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: absolute;
    width: 400px;
    height: 500px;
    background: var(--main-bg);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px 5px #fff;
}


.popup .header{
    display: flex;
    justify-content: center; 
    align-items: center;

    height: 15px;
    width: 325px;
    margin-bottom: 40px;

    font-family: var(--secondary-font);
    font-size: var(--XL);
    font-weight: bold;
    color: var(--light-green);
}

.popup textarea {
    padding: 15px;
    height: 20px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 0.5px solid var(--grayer);
    background: var(--main-bg);
    text: var(--grayer) var(--secondary-font) var(--M);
    color: var(--white);

}

.popup textarea::placeholder {
    font-size: 15px;
    color: var(--grayer);
    text: var(--secondary-font);
}

.popup .login-button{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9999px;
    margin-top: 20px;
    margin-bottom: 50px;

    height: 35px;
    width: 280px;

    text: var(--secondary-font) var(--S) ;
    font-weight: bold;
    font-family: var(--secondary-font);
    font-size: var(--M);
    background-color: var(--light-green);

    color: var(--main-bg);

    border: solid 1px var(--light-green);
    cursor: pointer;
}

.popup .login-button:hover{
    background-color: var(--dark-green);
    color: var(--main-bg);
    border: solid 1px var(--dark-green);
}

.popup .create-account{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 10%;

    height: 15px;
    width: 280px;
    margin-top: 20px;

    font-family: var(--secondary-font);
    font-size: var(--S);
    color: var(--grayer);
}

.popup a{
    text-decoration: none;
    color: var(--light-green);
    font-weight: bold;
}
