@import url('variables.css');

/* Global Styles */
body {
  background: var(--background-main);
  margin: 0;
  padding: 0;
}

/* Sidebar Styles */
.sidebarContainer {
  display: flex;
  flex-direction: row;
  background: var(--background-main);
  min-height: 100vh;
  position: fixed;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 256px;
  padding: 0 12px 20px 12px;
  align-items: flex-start;
  flex-shrink: 0;
  position: fixed;
  top: 80px;
}

.title {
  background: var(--background-main);
  width: 194px;
  height: 45px;
  margin-top: 1%;
  margin-bottom: 0.01%;
  padding: 12px 20px 8px 20px;
  color: var(--primary-main);
  font-family: var(--primary-font), sans-serif;
  font-size: var(--XL);
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
}

/* Navbar Styles */
.navBar {
  display: flex;
  background: var(--background-main);
  width: 100%;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.searchBarContainer {
  display: flex;
  position: relative;
  margin-right: 21.5%;
}

.searchBar {
  outline: none;
  border: none;
  border-radius: 12px;
  width: 600px;
  height: 35px;
  gap: 12px;
  padding-left: 7.5%;
  background: var(--background-15);
  font-family: var(--secondary-font), sans-serif;
  font-size: var(--M);
  color: #FFFFFF;
  margin-right: 6%;
}

.commentBar{
  margin-right: 0%;
  margin-bottom: 1.5%;
  padding-left: 1.5%;
  width: 95%;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 1.5%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text-main);
}

.navButtons {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-right: 3%;
  color: var(--text-main);
}

/* Sidebar Buttons */
.sidebarButton {
  width: 250px;
  height: 45px;
  display: flex;
  padding: 12px 16px;
  justify-content: left;
  background-color: var(--background-main);
  color: var(--text-main);
  font-family: var(--secondary-font), sans-serif;
  font-size: var(--M);
  outline: none;
  border: none;
  border-radius: 12px;
  gap: 16px;
}

.sidebarButton:hover {
  background-color: var(--background-25);
}

.sidebarButton.active{
  background-color: var(--background-25);
  color: var(--primary-main);
}

.sidebarButton.active svg {
  fill: var(--primary-main);
}

.spacedOut{
  justify-content: center;
  gap: 115px;
}

.dropdownSidebar{
  display: flex;
}

.sidebarDividerContainer {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.sidebarDivider {
  width: 256px;
  height: 1px;
  background: var(--text-60);
}

.sidebarText {
  display: flex;
  width: 226px;
  color: #999;
  justify-content: space-between;
  align-items: center;
  font-family: "Golos Text", sans-serif;
  font-size: var(--S);
  margin-left: 5%;
}

svg {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: var(--text-main);
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

/* Main Content Styles */
.mainContent {
  flex-grow: 1;
  top: 100px;
  padding-top: 70px;
  padding-left: 300px;
  background-color: var(--background-main);
  min-width: 0;
}

/* Post Styles */
.post {
  display: flex;
  flex-direction: column;
  background: var(--background-main);
  border: 1px solid var(--background-15);
  border-radius: 8px;
  padding: 12px;
  margin: 16px 0; /* Removes left and right auto margins */
  width: 80%; /* Reduced width */
  box-sizing: border-box;
  pointer-events: auto;
}

.selectedPost{
  border: 0;
  border-radius: 0;
  margin: 0;
  padding-top: 12px;
  padding-right: 12px;
}

.postContent {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.selectedPostContent
{
  padding: 0;
}

.postTitle {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 0 12px 0;
  font-family: var(--secondary-font), sans-serif;
}

.postBody {
  color: #d7dadc8b;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: var(--tertiary-font), sans-serif;
  font-weight: lighter;
}

.postReactions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.voteCount {
  color: #D7DADC;
  font-size: var(--XS);
  font-family: var(--secondary-font), sans-serif;
}

.separator {
  color: var(--background-15);
  margin: 0 8px;
}

/* Action Buttons */
.reactionsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reactionBox {
  background-color: var(--background-25);
  border-radius: 8px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}

.reactionBox .actionButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: var(--text-main);
}

.reactionBox .actionButton:hover {
  background-color: var(--background-35);
}

.reactionBox .actionButton:active {
  background-color: var(--background-45);
  transform: scale(0.95);
}

.reactionBox .actionButton svg {
  fill: var(--text-main);
  width: 20px;
  height: 20px;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.actionButton svg {
  fill: var(--text-60);
  width: 24px;
  height: 24px;
}



.postUsername {
  margin: 0 5px;
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-60);
  font-size: var(--XS);
  font-weight: bold;
}

.postTime {
  font-weight: lighter;
  font-size: var(--XXS);
  font-family: var(--secondary-font), sans-serif;
}

/* Post Header */
.postHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--text-60);
}

.postHeaderLeft {
  display: flex;
  align-items: center;
}

.postHeaderRight {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.dropdown-content-post{

  background: var(--Background-25, #29363D);
  width: 110px;
  border-radius: 12px;
  z-index: 1;
}

.dropdown-line-post{
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  
  font-family: var(--secondary-font);
  
  fill: var(--text-main);

  cursor: pointer;
}

.dropdown-line-post span{
  overflow: hidden;
  color: var(--text-60);
  height: 12px;
  text-overflow: ellipsis;
  font-family: var(--Font-Header, "Golos Text");
  font-size: var(--Size-XS, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-line-post:hover{
  fill: var(--Text-60);
  color: var(--Text-60, #999);
  background: var(--Background-15, #21262C);
  opacity: 0.5;
}

.kebabMenu {
  background: none;
  border: none;
  cursor: pointer;
}

.kebabMenu svg {
  width: 20px;
  height: 20px;
  fill: var(--text-80);
}

.kebabMenu:hover svg {
  fill: var(--text-60);
}
/* Image Container Styles */
.imageContainer {
  display: flex;
  flex-direction: row; /* Align images horizontally */
  justify-content: center;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  height: 350px; /* Desired height */
}

/* Ensure images resize together */
.imageWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

/* Adjusted Flex Ratios */
.leftSide,
.rightSide {
  flex: 0.5; /* Side images take up half a unit each */
  overflow: hidden;
  transform: scale(1.2);
}

.postImage {
  flex: 4; /* Main image takes up four units */
  overflow: hidden;
}


.rightSide{ 
  background-position: 90% 50%;
}

.leftSide{ 
  background-position: 1% 20%;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Adjust layout for tablets */
  /* .sidebarContainer {
    flex-direction: column;
  } */
  .sidebar,
  .mainContent {
    width: 100%;
  }
  .sidebar {
    order: 1;
  }
  .mainContent {
    order: 2;
  }
  .post {
    padding: 8px;
  }
  .postContent {
    padding: 0 10px;
  }
  .postTitle {
    font-size: 1.3em;
  }
  .postBody {
    font-size: 0.95em;
  }
  .reactionsContainer {
    flex-wrap: wrap;
  }
  /* Ensure images remain side by side */
  .imageContainer {
    flex-direction: row;
    height: auto; /* Adjust height if needed */
  }
  .imageWrapper {
    height: auto;
  }
  .imageContainer img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Adjust layout for mobile phones */
  .postTitle {
    font-size: 1.1em;
  }
  .postBody {
    font-size: 0.9em;
  }
  .post {
    margin-bottom: 8px;
  }
  .postContent {
    padding: 0 5px;
  }
  .actionButton svg,
  .kebabMenu svg {
    width: 20px;
    height: 20px;
  }
  /* Adjust images for small screens */
  .imageContainer {
    flex-direction: row;
    height: auto;
  }
  .imageWrapper {
    height: auto;
  }
  .imageContainer img {
    height: auto;
    width: 100%;
  }
  
}


/* Add a grey transparent cover to the left and right images */
.leftSide::before,
.rightSide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  z-index: 1; /* Ensure it sits above the image */
  pointer-events: none; /* Allow clicks to pass through */
}

/* Ensure the left and right sides are positioned relatively */
.leftSide,
.rightSide {
  position: relative;
  overflow: hidden;
}

/* Adjust the z-index of the images to ensure they are below the overlay */
.leftSide img,
.rightSide img {
  position: relative;
  z-index: 0;
}

.pfp{
 height: 25px;
 width: auto;
}

/* Link Preview Styles */
.linkPreview {
  margin-top: 16px;
  border: 1px solid var(--background-15);
  border-radius: 8px;
  overflow: hidden;
  background: var(--background-15);
}

.linkPreview a {
  text-decoration: none;
  color: inherit;
}

.linkPreviewContainer {
  display: flex;
  align-items: center;
}

.linkPreviewImage {
  width: 120px;
  height: 80px;
  flex-shrink: 0;
}

.linkPreviewImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkPreviewText {
  padding: 12px;
  flex-grow: 1;
}

.linkPreviewTitle {
  margin: 0;
  font-size: var(--M);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-main);
}

.linkPreviewDescription {
  margin: 4px 0;
  font-size: 14px;
  font-family: var(--tertiary-font), sans-serif;
  color: var(--text-80);
}

.linkPreviewDomain {
  font-size: var(--XS);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-60);
}

#commentBox{
  padding: 10px 10px;
  font-size: var(--M);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-60);
  clear: both;
  border: 1px solid var(--background-15);
  border-radius: 8px;
  width: 78.11%;
}

#commentText{
  padding: 15px 15px;
  background-color: var(--background-main);
  font-size: var(--M);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-80);
  border: none;
  outline: none;
  resize: none;
}

.commentUser{
  margin-top: 10px;
  margin-left: 15px;
  gap: 5px;
}

.yourComment{
  margin-bottom: 20px;
}

.comment-section{
  padding: 10px;
  margin-top: 10px;
  font-size: var(--M);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-60);
  clear: both;
  border: 1px solid var(--background-15);
  border-radius: 8px;
  width: 78.11%;
}

.commentSectionText{
  padding: 5px 5px;
  margin-left: 10px;
  background-color: var(--background-main);
  font-size: var(--M);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-60);
  border: none;
  outline: none;
  resize: none;
}

.disappear{
  display: none;
}