@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');
@font-face {
    font-family: "The Last Shuriken";
    src: url("fonts/the_last_shuriken/The_Last_Shuriken.otf") format("opentype"),
         url("fonts/the_last_shuriken/The_Last_Shuriken.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

:root{
    --primary-main: hsla(100, 50%, 60%, 1);
    --primary-70: hsla(100, 31%, 45%, 1);
    --accent-main: hsla(190, 65%, 60%, 1);
    --accent-70: hsla(190, 40%, 45%, 1);
    --text-main: hsla(0, 0%, 100%, 1);
    --text-80: hsla(0, 0%, 80%, 1);
    --text-60: hsla(0, 0%, 60%, 1);
    --background-main: hsla(210, 15%, 10%, 1);
    --background-15: hsla(210, 15%, 15%, 1);
    --background-25: hsla(200, 20%, 20%, 1);
    --background-35: hsla(200, 20%, 25%, 1);
    --background-45: hsla(200, 20%, 40%, 1);
    --semantic-red-main: hsla(15, 100%, 55%, 1);
    --semantic-red-40: hsla(15, 100%, 40%, 1);
    --semantic-yellow-main: hsla(50, 90%, 55%, 1);
    --semantic-yellow-40: hsla(50, 90%, 40%, 1);
    --semantic-green-main: hsla(155, 75%, 45%, 1);
    --semantic-green-40: hsla(155, 75%, 45%, 1);

    --primary-font: "The Last Shuriken", sans-serif;
    --secondary-font: "Golos Text", sans-serif;
    --tertiary-font: "Hanken Grotesk", sans-serif;
    
    --XXS: 10px;
    --XS: 12px;
    --S: 14px;
    --M: 16px;
    --L: 18px;
    --XL: 24px;
    --XXL: 36px;
}