<html>
  <head>
    <title>Weebsite - The Weeb Forum</title>
    <link rel="stylesheet" href="styles/pop-up.css" />
    <link rel="stylesheet" href="styles/notification-pop-up.css" />
    <link rel="stylesheet" href="styles/indexstyles.css" />

    <script src="scripts/button.js" defer></script>
    <script src="scripts/include.js" defer></script>
  </head>
  <body>
    <div class="popup" id="popup">
      <div class="overlay"></div>
      <div class="notification-content shift-left">
        <div class="header">Notifications</div>
        <hr />
      </div>
    </div>

    <script src="scripts/notif.js"></script>
  </body>
</html>