<html lang="en">
  <head>
    <title>Weebsite - The Weeb Forum</title>
    <link rel="stylesheet" href="styles/variables.css" />
    <link rel="stylesheet" href="styles/indexstyles.css" />
    <link rel="stylesheet" href="styles/post.css" />
    <link rel="stylesheet" href="styles/layout.css" />

    <script src="scripts/include.js" defer></script>
    <script src="scripts/button.js" defer></script>
    <script src="scripts/views.js" defer></script>
    <script src="scripts/notif.js" defer></script>
  </head>
  <body>
   {{> layout userData=userData}}
    <!--the layout show load here (sidebar and navbar)-->

    <!-- Main content area -->
    <div class="main-content">
      <!-- End of Fifth Post -->
      {{#each posts}}
        {{> posts}}
      {{/each}}
    </div>
    <!-- End of Main Content Area -->
  </body>
</html>
