<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - The Weeb Forum</title>
    <link rel="stylesheet" href="/weebsite/styles/pop-up.css" />
    <link rel="stylesheet" href="/weebsite/styles/notification-pop-up.css" />
    <link rel="stylesheet" href="/weebsite/styles/indexstyles.css" />

    <script src="/weebsite/scripts/button.js" defer></script>
    <script src="/weebsite/scripts/include.js" defer></script>
  </head>
  <body>
    <div class="popup" id="popup">
      <div class="overlay"></div>
      <div class="popup-content shift-left">
        <div class="header">Notifications</div>
        <hr />
        {{#each notifications}}
          <div class="notification-line">
            <div class="subject">{{this.subject}} |</div>
            <div class="message">{{this.message}}</div>
          </div>
          {{#unless @last}}<hr />{{/unless}}
        {{/each}}
      </div>
    </div>
  </body>
</html>