<html>
  <head>
    <title>Weebsite - The Weeb Forum</title>
    <link rel="stylesheet" href="styles/pop-up.css" />
    <link rel="stylesheet" href="styles/login-pop-up.css" />
    <link rel="stylesheet" href="styles/indexstyles.css" />

    <script src="scripts/button.js" defer></script>
    <script src="scripts/include.js" defer></script>
<<<<<<< Updated upstream
    <script src="scripts/views.js" defer></script>"
    <script src="scripts/signup.js" defer></script>
=======
    <script src="scripts/views.js" defer></script>
>>>>>>> Stashed changes
  </head>
  <body>
    <div class="popup" id="popup">
      <div class="overlay"></div>
      <div class="popup-content">
        <button class="hiddenButton" onclick="switchPage('logout')">
          <svg
            class="exit-button"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div class="header">Sign up</div>
<<<<<<< Updated upstream
               <form id="signup-form">
                <input 
                    class="textField username" 
                    name="username"
                    type="text" 
                    placeholder="Username" 
                    required 
                />
                <input 
                    class="textField password" 
                    name="password"
                    type="password" 
                    placeholder="Password" 
                    required 
                />
                <input 
                    class="textField confirm-password" 
                    name="confirmPassword"
                    type="password" 
                    placeholder="Confirm Password" 
                    required 
                />

                <button type="submit" class="login-button">
                    Sign up
                </button>
            </form>

=======
        <form id="signup-form">
          <input
            class="textField"
            type="text"
            placeholder="Username"
            id="username"
            name="username"
            required
          />
          <input
            class="textField"
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            required
          />
          <input
            class="textField"
            type="password"
            placeholder="Confirm Password"
            id="confirm-password"
          />
          <div class="password"></div>
          <button class="login-button" type="button" onclick="getUserData()">Sign up</button>
        </form>
>>>>>>> Stashed changes
        <div class="create-account">
          Have an account already?<a
            style="color: #8c6"
            onclick="window.open('/login', '_self')"
          >&nbsp;Log in&nbsp;</a>
        </div>
      </div>
    </div>
  </body>
</html>