@import url("variables.css");

/* Global Styles */
body {
  background: var(--background-main);
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
  top: 100px;
  padding-top: 70px;
  padding-left: 300px;
  background-color: var(--background-main);
  min-width: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Adjust layout for tablets */
  /* .sidebarContainer {
    flex-direction: column;
  } */
  .sidebar,
  .main-content {
    width: 100%;
  }
  .sidebar {
    order: 1;
  }
  .main-content {
    order: 2;
  }
  .post {
    padding: 8px;
  }
  .postContent {
    padding: 0 10px;
  }
  .postTitle {
    font-size: 1.3em;
  }
  .postBody {
    font-size: 0.95em;
  }
  .reactionsContainer {
    flex-wrap: wrap;
  }
  /* Ensure images remain side by side */
  .imageContainer {
    flex-direction: row;
    height: auto; /* Adjust height if needed */
  }
  .imageWrapper {
    height: auto;
  }
  .imageContainer img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Adjust layout for mobile phones */
  .postTitle {
    font-size: 1.1em;
  }
  .postBody {
    font-size: 0.9em;
  }
  .post {
    margin-bottom: 8px;
  }
  .postContent {
    padding: 0 5px;
  }
  .kebabMenu svg {
    width: 20px;
    height: 20px;
  }
  /* Adjust images for small screens */
  .imageContainer {
    flex-direction: row;
    height: auto;
  }
  .imageWrapper {
    height: auto;
  }
  .imageContainer img {
    height: auto;
    width: 100%;
  }
}

.pfp {
  height: 25px;
  width: auto;
  border-radius: 9999px;
}

/* Link Preview Styles */
.linkPreview {
  margin-top: 16px;
  border: 1px solid var(--background-15);
  border-radius: 8px;
  overflow: hidden;
  background: var(--background-15);
}

.linkPreview a {
  text-decoration: none;
  color: inherit;
}

.linkPreviewContainer {
  display: flex;
  align-items: center;
}

.linkPreviewImage {
  width: 120px;
  height: 80px;
  flex-shrink: 0;
}

.linkPreviewImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkPreviewText {
  padding: 12px;
  flex-grow: 1;
}

.linkPreviewTitle {
  margin: 0;
  font-size: var(--M);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-main);
}

.linkPreviewDescription {
  margin: 4px 0;
  font-size: 14px;
  font-family: var(--tertiary-font), sans-serif;
  color: var(--text-80);
}

.linkPreviewDomain {
  font-size: var(--XS);
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-60);
}

.disappear {
  display: none;
}

.show {
  display: block;
}

.hiddenButton {
  background: none;
  border: none;
  padding: 0; /* Removes extra spacing */
  cursor: pointer;
}
