@import url("variables.css");

body {
  padding-left: 325px;
  padding-right: 325px;
}

#notification-container {
  display: none;
}

.shift-left {
  left: 68%;
}

.popup .notification-line {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 30px;
  font-family: var(--secondary-font), sans-serif;

  cursor: pointer;
}

.popup .notification-line:hover {
  background: var(--text-60);
  opacity: 0.7;
}

.popup #subject {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 30px;

  height: 30px;
  font-family: var(--secondary-font), sans-serif;
  font-size: var(--S);
  font-weight: bold;
  color: var(--primary-main);
}

.popup #message {
  display: flex;
  justify-content: center;

  position: absolute;
  left: 40%;
  height: 35px;
  width: 50%;

  overflow: hidden;
  font-family: var(--secondary-font), sans-serif;
  font-size: var(--S);
  color: var(--text-80);
}
