@import url("variables.css");

/* Post Styles */
.post {
  display: flex;
  flex-direction: column;
  background: var(--background-main);
  border: 1px solid var(--background-15);
  border-radius: 8px;
  padding: 12px;
  margin: 16px 0; /* Removes left and right auto margins */
  width: 80%; /* Reduced width */
  box-sizing: border-box;
  pointer-events: auto;
}

.selectedPost {
  border: 0;
  border-radius: 0;
  margin: 0;
  padding-top: 12px;
  padding-right: 12px;
}

.postContent {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.selectedPostContent {
  padding: 0;
}

.postTitle {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 0 12px 0;
  font-family: var(--secondary-font), sans-serif;
}

.postBody {
  color: #d7dadc8b;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: var(--tertiary-font), sans-serif;
  font-weight: lighter;
}

.postReactions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.voteCount {
  color: #d7dadc;
  font-size: var(--XS);
  font-family: var(--secondary-font), sans-serif;
}

.separator {
  color: var(--background-15);
  margin: 0 8px;
}

/* Action Buttons */
.reactionsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reactionBox {
  background-color: var(--background-25);
  border-radius: 8px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}

.reactionBox .actionButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: var(--text-main);
}

.reactionBox .actionButton:hover {
  background-color: var(--background-35);
}

.reactionBox .actionButton:active {
  background-color: var(--background-45);
  transform: scale(0.95);
}

.reactionBox .actionButton {
  width: 20px;
  height: 20px;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.postUsername {
  margin: 0 5px;
  font-family: var(--secondary-font), sans-serif;
  color: var(--text-60);
  font-size: var(--XS);
  font-weight: bold;
}

.postTime {
  font-weight: lighter;
  font-size: var(--XXS);
  font-family: var(--secondary-font), sans-serif;
}

/* Post Header */
.postHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--text-60);
  padding-top: 15px;
  padding-bottom: 15px;
}

.postHeaderLeft {
  display: flex;
  align-items: center;
}

.postHeaderRight {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.dropdown-content-post {
  background: var(--background-25, #29363d);
  width: 110px;
  border-radius: 12px;
  z-index: 1;
}

.dropdown-line-post {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  font-family: var(--secondary-font, "Golos Text"), sans-serif;

  fill: var(--text-main);

  cursor: pointer;
}

.dropdown-line-post span {
  overflow: hidden;
  color: var(--text-60);
  height: 12px;
  text-overflow: ellipsis;
  font-family: var(--secondary-font, "Golos Text"), sans-serif;
  font-size: var(--XS, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-line-post:hover {
  background-color: var(--background-15);
  border-radius: 8px;
}

.kebabMenu {
  background: none;
  border: none;
  cursor: pointer;
}

.kebabMenu svg {
  width: 20px;
  height: 20px;
  fill: var(--text-80);
}

.kebabMenu:hover svg {
  fill: var(--text-60);
}
/* Image Container Styles */
.imageContainer {
  display: flex;
  flex-direction: row; /* Align images horizontally */
  justify-content: center;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  height: 350px; /* Desired height */
}

/* Ensure images resize together */
.imageWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

/* Adjusted Flex Ratios */
.leftSide,
.rightSide {
  flex: 0.5; /* Side images take up half a unit each */
  overflow: hidden;
  transform: scale(1.2);
}

.postImage {
  flex: 4; /* Main image takes up four units */
  overflow: hidden;
}

.rightSide {
  background-position: 90% 50%;
}

.leftSide {
  background-position: 1% 20%;
}

.like-button.activeLike svg {
  fill: var(--primary-70);
}

.dislike-button.activeDislike svg {
  fill: var(--semantic-red-main);
}

/* Add a grey transparent cover to the left and right images */
.leftSide::before,
.rightSide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  z-index: 1; /* Ensure it sits above the image */
  pointer-events: none; /* Allow clicks to pass through */
}

/* Ensure the left and right sides are positioned relatively */
.leftSide,
.rightSide {
  position: relative;
  overflow: hidden;
}

/* Adjust the z-index of the images to ensure they are below the overlay */
.leftSide img,
.rightSide img {
  position: relative;
  z-index: 0;
}
